.scrContainer{
   
    display: flex;
    margin: 20px 30px;
    align-items: center;
    justify-content: space-between;
}



.scrItem{
    width:48%;
    
    position: relative;
}

.scrIcon{
    height:64px;
    width:64px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    position: absolute;
    left:20px;
    top:-20px;
   
}

.scrIcon.first{
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 172 193 / 40%);
}

.scrIcon.second{
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
}

.srcChartItem{
    margin-top: 20px;
    
}

.scrContainer .ct-label {
    color: #555;
}

.scrContainer .ct-grid{
    stroke: #555;
    stroke-width: 1px;
}

.scrContainer .ct-series-a .ct-line {
   
    stroke: rgb(52, 131, 235);
 
    stroke-width: 4px;

  }



 .scrContainer .ct-series-a .ct-point{
      stroke: rgb(52, 131, 235);
  }

 .scrContainer .ct-series-a .ct-bar {
   
    stroke-width: 10px;

  }

  .srcTitle{
      padding-left: 100px;
      padding-top: 20px;
      color:black;
  }

  .srcTitle.second div{
      display: inline-block;

       margin-left: 2px;
      margin-right: 6px; 
      position: relative;
      top:2px;
      width: 14px;
      height: 14px;
      background-color: rgb(52, 131, 235);
      border-radius: 50%;
  }

  .srcTitle.second div:nth-child(2){
    background-color: #d70206;
  }

  .srcTitle.second div:nth-child(3){
    background-color: #f4c63d;
  }